/* global scctor */
*{
    padding:0;
    margin:0;
}

ul{
    background-color: rgb(25, 223, 25);
    font-size: 30px;
    color :blue;
    width: 400px;
    border-radius: 20px;
    padding-left: 28px;
    display:flex;
    flex-direction: column-reverse;
    gap:10px;

}
li{
    margin: 10px;
    background-color: antiquewhite;
    list-style-position: inside;
    padding:10px;
    border-radius:10px;
    color: purple;
    box-shadow: 3px 3px 10px 0px  blue;



}